APP_NAME=字体商城后台管理
APP_ENV=local
APP_KEY=base64:4ivz4G2fTXRX5UQ1x1bKCffc9f1NyGR1B9wzZ4SeyIk=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel-font
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

QINIU_ACCESS_KEY=JmQ_a27jHzk12u2OJNtgABLzwXiunpSao2xcxNla
QINIU_SECRET_KEY=3DRKwq4ZtxQXKo3m2X-AZhfXyvm8ELISEoZRGTOy
QINIU_BUCKET=laravel-font
QINIU_DOMAIN=otqt2pai6.bkt.clouddn.com

SCOUT_QUEUE=true
ALGOLIA_APP_ID=G9POOYQ8E0
ALGOLIA_SECRET=6d3f2ffcf081749dfad15d47c7005631

